@font-face {
    font-family: 'nasaFont';
    src: url('../../../public/assets/nasalization-rg-webfont.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.search {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-bottom: -40px;
    margin-right: 3.4rem;
    text-align: center;
    
    
}

.search input, button, select{
    box-shadow: 1px 2px 2px 1px #323a45;
}

.search input, button{
    border: 2px solid #061f4a;
    background-color: #f1f1f1;
}

.search select{
    border-top: 2px solid #061f4a;
    border-bottom: 2px solid #061f4a;
    background-color: #f1f1f1;
}

.search input, select, button{
    font-family: Poppins;
}

button{
    cursor: pointer;
    width: 80px;
    height: 25px;
    font-weight: 800;
}

button:hover{
    background-color: #061f4a;
    color: #f1f1f1;
}

#linkCPLanding{
    margin-left: 15px;
}